<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>072838</string>
	<string>021543</string>
	<string>0C012B</string>
	<string>22022D</string>
	<string>280215</string>
	<string>460202</string>
	<string>451303</string>
	<string>422605</string>
	<string>412E05</string>
	<string>534F0A</string>
	<string>3E410B</string>
	<string>1D2D0D</string>
	<string>113B51</string>
	<string>0A2263</string>
	<string>140641</string>
	<string>300846</string>
	<string>42071F</string>
	<string>6D0605</string>
	<string>661C05</string>
	<string>643809</string>
	<string>63430A</string>
	<string>7A7314</string>
	<string>5B6314</string>
	<string>2A4617</string>
	<string>1E5A7A</string>
	<string>153196</string>
	<string>200C5F</string>
	<string>4B0F65</string>
	<string>630E2C</string>
	<string>A2100D</string>
	<string>992A0F</string>
	<string>965511</string>
	<string>936815</string>
	<string>B6AF23</string>
	<string>899821</string>
	<string>3F6823</string>
	<string>2B79A1</string>
	<string>2042C7</string>
	<string>29167F</string>
	<string>641A8B</string>
	<string>83143F</string>
	<string>D51A16</string>
	<string>CC3B15</string>
	<string>C77019</string>
	<string>C58C1E</string>
	<string>F1E832</string>
	<string>B6C72F</string>
	<string>568B2E</string>
	<string>3893CC</string>
	<string>274DFB</string>
	<string>3A1DA0</string>
	<string>8423AD</string>
	<string>A5184B</string>
	<string>F22921</string>
	<string>F25220</string>
	<string>F59925</string>
	<string>F6BB2A</string>
	<string>FEFB4A</string>
	<string>D1E840</string>
	<string>67AC39</string>
	<string>48BAF8</string>
	<string>3373F8</string>
	<string>4A2EE0</string>
	<string>AB34EB</string>
	<string>DA2568</string>
	<string>F14A47</string>
	<string>F4703F</string>
	<string>F6A43F</string>
	<string>F7C041</string>
	<string>FCF665</string>
	<string>DDEC5F</string>
	<string>88CA55</string>
	<string>4ECDFA</string>
	<string>6394FA</string>
	<string>7139F9</string>
	<string>C43FF9</string>
	<string>E4598D</string>
	<string>F47671</string>
	<string>F4936E</string>
	<string>F6BB6A</string>
	<string>F8CF6A</string>
	<string>FEF98B</string>
	<string>E6F184</string>
	<string>A4D87E</string>
	<string>88DEFA</string>
	<string>98B8FA</string>
	<string>9E78F9</string>
	<string>D67BF9</string>
	<string>EC91B2</string>
	<string>F4A39F</string>
	<string>F6B69B</string>
	<string>F8D19B</string>
	<string>F9DE9B</string>
	<string>FCFBB0</string>
	<string>EDF6AC</string>
	<string>C0E5A6</string>
	<string>BFEDFB</string>
	<string>C9DBFB</string>
	<string>CDBDFB</string>
	<string>EABCFA</string>
	<string>F5C8D7</string>
	<string>F9D1CF</string>
	<string>F9DBCD</string>
	<string>FAE8CC</string>
	<string>FBEECC</string>
	<string>FCFCD7</string>
	<string>F6FAD4</string>
	<string>D7E8C9</string>
	<string>ECFBFD</string>
	<string>F0F5FD</string>
	<string>F0ECFD</string>
	<string>F9EBFC</string>
	<string>FCEEF2</string>
	<string>FCF2F1</string>
	<string>FBF5F0</string>
	<string>FBF8EF</string>
	<string>FDFEF1</string>
	<string>FBFEF1</string>
	<string>F5FDF2</string>
	<string>FAFAFA</string>
	<string>EBEBEB</string>
	<string>DCDCDC</string>
	<string>CDCDCD</string>
	<string>BEBEBE</string>
	<string>AFAFAF</string>
	<string>A0A0A0</string>
	<string>919191</string>
	<string>828282</string>
	<string>737373</string>
	<string>646464</string>
	<string>555555</string>
	<string>464646</string>
</array>
</plist>
